.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.front-end {
  flex: 1 0 0;
  padding-left: 100px;
}
.back-end {
  flex: 2 0 0;
}
